body {
    font-family: sans-serif;
    background-color: #484a4b;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
}

header, footer {
    background-color: black;
    height: 90px;
}

.header-band {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
}
.header-band img {
    height: 90px;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}
.nav-link-item {
    padding-right: 3rem;
}
.nav-link-text {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

main {
    margin: auto;
    max-width: 1400px;
}

.heading {
    color: lightblue;
}

footer p {
    color: white;
    font-size: 14px;
    text-align: center;
    margin: auto;
    padding: 40px;
}