.banner {
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    mix-blend-mode: lighten;
    opacity: 0.2;
}

.banner h1 {
    position: absolute;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 120px;
}